<div class="snippets-item" style="margin-left: 5px; font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif;">
	<table style="margin: 3px 0px 11px;">
		<tr style="display: inline-block; margin-left: 12px;">
			<td>
				<div location="sProfile"/>
			</td>
			<td>
				<div location="sCreator" style="color: rgba(51, 51, 51, 0.75); display: block; font-size: 13px; font-weight: bold; padding-left: 10px; position: relative; vertical-align: text-bottom; width: 440px;" />
			</td>
			<td>
				<ul>
					<li
						style="font-size: 12px; font-weight: bold; list-style-type: none; display: inline-block; margin-left: 12px;">
						<div location="sLikes" />
					</li>
					<li
						style="font-size: 12px; font-weight: bold; list-style-type: none; display: inline-block; margin-left: 12px;">
						<div location="sViews" />
					</li>
					<li
						style="font-size: 12px; font-weight: bold; list-style-type: none; display: inline-block; margin-left: 12px;">
						<div location="sComments" />
					</li>
				</ul>
			</td>
		</tr>
		<tr style="margin-left: 12px;">
			<td colspan="2">
				<div location="sDescription" style="width: 100%; padding: 10px; position: relative; margin-bottom: 15px; border: 1px solid #DDD; border-radius: 3px;" />
			</td>
		</tr>
	</table>

</div>
